<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/styles/main.css">
    <link rel="stylesheet" href="public/styles/dashboard.css">
    <title>dashboard</title>
</head>

<body>

    <nav>
        <p>LOGO</p>
        <ul>
            <li>
                <div class="active-link">
                    <a href="#" class="active-text">Dashboardp</a>
                    <div class="active-underline"></div>
                </div>
            </li>
            <li><a href="#">Sports</a></li>
            <li><a href="#" class="special-button">Create Event</a></li>
            <li><a href="#">My Events</a></li>
            <li><a href="#">Joined Events</a></li>
            <li><a href="#">Logout</a></li>
        </ul>
    </nav>
    <div class="container">
        <aside>
            <p>TOOL 1</p>
        </aside>
        <main>
            <h1>DASHBOARD</h1>
            <!-- TODO display list of cards -->
            <ul>
                <?php foreach($cards as $key=>$value): ?>
                <li>
                    <img src="<?= $value['imageUrlPath']; ?>">
                    <p>
                        <?php echo $value['title']; ?>
                    </p>
                </li>
                <?php endforeach; ?>
            </ul>
        </main>
    </div>

    <footer>
        <p>&copy; 2025 FindRival.</p>
        <p>Kontakt: info@example.com</p>
    </footer>
</body>

</html>