@import url('components/button.css');
@import url('components/input-group.css');
@import url('components/link.css');

html,
body {
    height: 100%;
}

.login-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100vw;
    height: 100vh;
}

.login-image {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('/public/images/login-background.png');
    background-size: cover;
    background-position: center;
}


.login-form {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container {
    width: 100%;
    max-width: 28.125em;
    padding: 2em;
    background: transparent;
    border-radius: 0;
    box-shadow: none;
}

.form-header {
    margin-bottom: var(--gap-section);
}

.input-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
}

.forgot {
    display: block;
    margin-top: 0.5em;
    text-align: right;
}

.divider {
    display: flex;
    align-items: center;
    gap: 1em;
    margin: 1.5em 0;
}

.divider span {
    flex: 1;
    height: 0.0625em;
}

.socials {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-bottom: 1em;
}

.socials button {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    border: none;
    background-color: #e5e7eb;
    cursor: pointer;
    font-weight: bold;
}

.socials button:hover {
    opacity: 0.85;
}