body {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    background-color: bisque;
    border-radius: 1rem;
    padding: 1.5rem;
    width: 45vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}


input,
button {
    padding: 1rem;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    transition: transform 0.3s ease-in-out;
    display: block;
    width: 100%;
}

button {
    border: none;
    cursor: pointer;
    font-weight: bold;
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background: linear-gradient(145deg, #ff7e5f, #feb47b);
}

button:hover {
    transform: scale(1.05);
    filter: brightness(1.1);
}


input:focus {
    border-color: #ff7e5f;
    outline: none;
    box-shadow: 0 0 5px rgba(255, 126, 95, 0.5);
}

@media screen and(max-width: 480px) {
    form {
        width: 100vw;
    }
}