.logo {
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
}


.logo-dot {
    font-size: 0.5em;
    margin: 0 0.05em;
    font-weight: 700;
    line-height: 1;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    top: 0.05em;
}

.logo-dot-blue {
    color: var(--primary);
}

.logo-dot-orange {
    color: orange;
}