:root {
    --primary-blue: #1cd2ff;
    /* Ciemnoniebieski */
}

h1 {
    color: blue;
}

body {
    height: 100vh;
    margin: 0;

    display: flex;
    flex-direction: column;
}

nav {
    background-color: rgb(212, 212, 212);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem;
}

li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

li a {
    text-decoration: none;
    color: black;
}

.special-button {
    padding: 0.5rem 1rem;
    background-color: rgb(252, 156, 13);
    border-radius: 5px;
    color: rgb(236, 236, 236);
}

.active-link {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.active-text {
    color: var(--primary-blue);
    font-weight: bold;
}


.active-underline {
    width: 100%;
    height: 3px;
    background-color: var(--primary-blue);
    border-radius: 2px;
}

nav>ul {

    display: flex;
    gap: 1.5rem;
}

.container {
    background-color: bisque;

    display: grid;
    grid-template-columns: 30% 70%;
}

aside {
    background-color: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    background-color: cornflowerblue;
}

footer {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
}

.messages {
    color: red;
    font-weight: 500;

}

@media screen and (max-width: 480px) {
    .container {
        grid-template-columns: 1fr;
    }


    aside {
        position: fixed;

        left: 0;
        right: 0;
        height: 80px;
    }

    footer {
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 3rem;
    }

}