@import url('components/button.css');
@import url('components/input-group.css');
@import url('components/link.css');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body.register-page {
    background-color: var(--background-light);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 2vw;
}

.background-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/boisko.png');
    background-size: cover;
    background-position: center;
    opacity: 0.2;
    z-index: -1;
}

.container {
    width: 100%;
    min-height: 100vh;
    z-index: 1;
    padding: 2vw;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-form {
    background: var(--white);
    padding: 3em;
    max-width: 90vw;
    min-width: 18em;
    margin: 0 auto;
    border-radius: 1em;
    box-shadow: 0 2em 4em -1em rgba(0, 0, 0, 0.15);
}

.input-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
}

.full-width {
    grid-column: span 2;
}

.form-header {
    margin-bottom: var(--gap-section);
}

@media (max-width: 640px) {
    .input-grid {
        grid-template-columns: 1fr;
    }

    .full-width {
        grid-column: span 1;
    }

    .register-form {
        padding: 1.5em;
    }
}