.animated-graphic path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 5s linear forwards;
}

.animated-graphic path:nth-child(1) { animation-delay: 0s; }
.animated-graphic path:nth-child(2) { animation-delay: 0.2s; }
.animated-graphic path:nth-child(3) { animation-delay: 0.4s; }
.animated-graphic path:nth-child(4) { animation-delay: 0.6s; }
.animated-graphic path:nth-child(5) { animation-delay: 0.8s; }

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}

.hero-art {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.animated-graphic {
    width: 100%;
    height: auto;
    max-width: 500px;
}