@import url('input.css');

.input-group {
    display: flex;
    flex-direction: column;
    font-size: var(--font-size-small);
    font-weight: 400;
    color: var(--text-dark);
}

.input-group label {
    font-size: var(--font-size-small);
    font-weight: 400;
    color: var(--text-dark);
    margin-bottom: 0.5em;
}