.input-common {
    height: 3rem;
    padding: 0 1rem;
    border: 0;
    border-radius: 0.5rem;
    font-size: var(--font-size-small);
    font-family: inherit;
    transition: all 0.2s;
    background: var(--background-light);
    color: var(--text-dark);
}


.input-common::placeholder {
    color: var(--text-gray);
    opacity: 1;
}


.input-common:focus {
    outline: none;
    border-color: var(--primary);
    box-shadow: 0 0 0 0.25rem rgba(19, 164, 236, 0.2);
}