.logo {
    font-size: 1.1em;
    font-weight: 700;
    letter-spacing: 0em;
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

.logo-dot {
    font-size: 0.6em;
    margin: 0 0.2em;
    font-weight: 700;
    line-height: 1;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    top: 0.05em;
}

.logo-dot-blue {
    color: var(--primary);
}

.logo-dot-orange {
    color: var(--orange);
}